body * {
  margin: 0;
  padding: 0;
  border: 0;
}

.bg-gd {
  background-color: #660066;
}

.bg-personal {
  height: 46.0625rem;
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
}
.f-Oswald {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 3.75rem;
}
.f-ul {
  font-family: 'helvetica';
  font-size: 1.125rem;
}
.f-h2 {
  font-family: 'Oswald';
  font-size: 4.8125rem ;
  font-weight: 700;

}
.wia {
  margin-top: 28.125rem;
  margin-bottom: 2.8125rem;
  text-align: center;
  font-family: 'Oswald';
  font-size: 6.6875rem;
}
.t-center {
  margin-left: 9.75rem;
  margin-right: 9.75rem;
  text-align: center;
}
.h3title{
  text-align: center;
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 2.3125rem;
}
.h3date{
  text-align: center;
  font-family: 'Oswald';
  font-weight: 200;
  font-size: 2.125rem;
}
.hfooter{
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 2.125rem;
}

hr{
max-width: 17%;
}

h1 p{
  text-align: justify;
}
div p {
  text-align: justify;
}
.foot-h2 {
  font-family: 'Oswald';
  font-size: 700;
  font-weight: 4.8125rem;
}

  @media (max-width: 576px){
    header{
    	background-repeat: no-repeat;
    	background-position: center;
    }

  .f-h2{
    font-size: 40px;
    text-align: center;
  }
}
